= render "details"
= form_for @report do |f|
  = f.hidden_field :list_id
  = f.fields_for :answers do |b|
    = render "answers/answer_fields", f: b
  = f.label :comment
  = f.text_field :comment
  %br
  = f.submit "Submit report"
